<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, inicial-scale=1.0, maxinum-scale=1.0, mininum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PyEye</title>
    <style>
        .container{
        margin : 0;
        padding : 0;
        width : 100%;
        height : 100vh;
        background-color: white;
        color : black;
        text-align : center;
        }
    </style>
</head>

<body class = "container">
    <h1>Bienvenido {{ username }} a Detección de Parpadeos</h1>
    <div>
        <img src="{{url_for('video')}}" width = "50%"/>
    </div>
    <!-- 
    <div>
        {% if encender_camara %}
            <p>La cámara está encendida.</p>
            <img src="{{url_for('video')}}" width = "50%"/>
        {% else %}
            <p>La cámara está apagada.</p>
        {% endif %}

        {% if username == 'DPPD' %}
            <form action="{{ url_for('registrar_clase') }}" method="post">
                <input type="text" name="nombre_clase" placeholder="Nombre de la Clase" required>
                <button type="submit">Registrar Clase</button>
            </form>
        {% endif %}
        {% with mensaje_microsueno = get_flashed_messages(category_filter='mensaje_microsueno') %}
            {% if mensaje_microsueno %}
                <div class="alert alert-info">
                    {{ mensaje_microsueno[0] }}
                </div>
            {% endif %}
        {% endwith %}
    </div> -->
</body>
</html>